@model TEST_PROJECT.Models.Person
@{
    ViewBag.Title = "EditPerson";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

<h2>Edit Person</h2>

<br />
<div class="per_info">

    @Html.HiddenFor(p => p.PersonID)


    <div class="row">
        <label class="col-md-2 control-label">Name :</label>
        <div class="col-md-5">
            @Html.TextBoxFor(p => p.Name)
        </div>
    </div>

    <div class="row">
        <label class="col-md-2 control-label">Telephone :</label>
        <div class="col-md-5">
            @Html.TextBoxFor(p => p.Telephone)
        </div>
    </div>

    <div class="row">
        <label class="col-md-2 control-label">NIC No. : </label>
        <div class="col-md-5">
            @Html.TextBoxFor(p => p.NICNo)
        </div>
    </div>

    <div class="row">
        <label class="col-md-2 control-label">Address :</label>
        <div class="col-md-5">
            @Html.TextBoxFor(p => p.Address)
        </div>
    </div>

    <div class="row">
        <label class="col-md-2 control-label">Email :</label>
        <div class="col-md-5">
            @Html.TextBoxFor(p => p.Email)
        </div>
    </div>

    <div class="row">
        <label class="col-md-2 control-label" for="btnSubmit"></label>
        <div class="col-md-5">
            <button id="btnSubmit" name="btnSubmit" class="btn btn-primary">Submit</button>         
            @Html.ActionLink("Back to List", "Test") 
        </div>
        
    </div>


</div>

<style>
    .per_info {
        margin-left: 20px;
        margin-right: 20px;
    }

    .row {
        margin-bottom: 15px;
    }
</style>

<script>


    $("#btnSubmit").click(function () {
        //alert("hi");

        $.ajax({
           type: "POST",
            url: '@Url.Action("Edit", "Test3")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({

                Name: $("#Name").val(),
                Telephone: $("#Telephone").val(),
                NICNo: $("#NICNo").val(),
                Address: $("#Address").val(),
                Email: $("#Email").val()
            }),
            dataType: "json",

            success: UpdatePersonOnSuccess
        });

    });

    function UpdatePersonOnSuccess() {

        alert("Updated Person Successfully");
    }
</script>
